.confirm-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.confirm-popup__form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  max-width: 430px;
  padding: 35px;
  border-radius: 10px;
}

.confirm-popup__close-button {
  align-self: end;
  position: absolute;
  top: -50px;
  right: -50px;
  width: 40px;
  height: 40px;
}

.confirm-popup__close-icon {
  width: 40px;
  height: 40px;
}

.confirm-popup__title {
  font-family: "Inter-Black", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  align-self: flex-start;
  margin: 0;
  padding-bottom: 38px;
}

.confirm-popup__input {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #c4c4c4;
}

.confirm-popup__input::placeholder {
  color: #c4c4c4;
}

.confirm-popup__save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  margin-top: 0;
}

.confirm-popup__save-button:hover {
  opacity: 0.8;
}
.confirm-popup__save-button:disabled {
  cursor: not-allowed;
  border: 2px solid #ccc;
  background-color: #fff;
  color: #ccc;
}

.confirm-popup__input-error {
  display: none;
  font-family: "Inter", Arial, sans-serif;
  color: red;
  font-size: 12px;
  margin-top: 6px;
  margin-right: auto;
}

.confirm-popup__input_type_error {
  border-bottom: 2px solid red;
}
.confirm-popup__input-error_active {
  display: block;
}

@media screen and (max-width: 850px) {
  .confirm-popup__form {
    margin-right: 15%;
  }

  .confirm-popup__close-button {
    top: -50px;
    right: 26px;
    width: 26px;
    height: 26px;
  }
}
