@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/button.css);
@import url(../blocks/header.css);
@import url(../blocks/popup.css);
@import url(../blocks/add-image-popup.css);
@import url(../blocks/image-popup.css);
@import url(../blocks/change-profile-image-popup.css);
@import url(../blocks/confirm-popup.css);
@import url(../blocks/main.css);
@import url(../blocks/footer.css);
